<div class="h-full flex flex-col">
    <div class="flex justify-center">
        <h1 class="text-center mb-5"> General Graphs </h1>
        <img class="h-3" src="assets/tailwind-mark.svg">
    </div>
    <div class="grid grid-cols-2 grid-rows-2 items-stretch w-full gap-5 grow p-5">
        <div class="text-center flex flex-col justify-center bg-gray-800 rounded-lg">
            <div *ngIf="loadedTodayReports; then rankings else loadingBlock"></div>
            <ng-template #rankings>
                <app-ranking
                    [todayReports]="todayReports"
                    [todayDate]="currentDate | cast"
                ></app-ranking>
            </ng-template>
        </div>
        <div class="text-center flex flex-col justify-center bg-gray-800 rounded-lg">
            <div *ngIf="loadedGlobalReports && loadedDate(); then currentStats else loadingBlock"></div>
            <ng-template #currentStats>
                <app-current-stats
                    [globalData]="globalReports"
                    [date]="currentDate | cast"
                ></app-current-stats>
            </ng-template>
        </div>
        <div class="text-center flex flex-col justify-center bg-gray-800 rounded-lg">
            <div *ngIf="loadedGlobalReports && loadedDate(); then lineGraph else loadingBlock"></div>
            <ng-template #lineGraph>
                <div class="justify-self-start mt-3 ml-3">
                    <img
                    [tippy]="lineGraphTooltip" variation="popper" 
                    src="assets/info.png" 
                    alt="info" 
                    class="ml-2 avatar rounded-full aspect-square h-6 shadow-sm shadow-white flex-grow-0"
                    >
                </div>
                <div class="my-auto w-full h-5/6 flex flex-col">
                    <app-line-graphs
                        [data]="globalReports"
                        [columns]="['positive', 'negative']"
                        [graphName]="'Whole US current State'"
                        [graphId]="'general-detail'"
                    ></app-line-graphs>
                </div>
            </ng-template>
        </div>
        <div class="text-center flex flex-col justify-center bg-gray-800 rounded-lg">
            <div *ngIf="loadedTodayReports; then pieChart else loadingBlock"></div>
            <ng-template #pieChart>
                <app-pie-chart></app-pie-chart>
            </ng-template>
        </div>
    </div>
</div>

<ng-template #loadingBlock>
    <app-loading></app-loading>
</ng-template>
