<div class="h-full flex flex-col">
    <div class="flex justify-center">
        <h1 class="text-center mb-5"> General Graphs </h1>
        <img
            [tippy]="'General information about today\'s Covid situation'"  
            src="assets/tailwind-mark.svg" 
            alt="info" 
            class="ml-2 avatar rounded-full aspect-square h-6 flex-grow-0"
        >
    </div>
    <div class="grid grid-cols-2 grid-rows-2 items-stretch w-full gap-5 grow p-5">
        <div class="text-center flex flex-col justify-center bg-gray-800 rounded-lg">
            <div *ngIf="loadedTodayReports; then rankings else loadingBlock"></div>
            <ng-template #rankings>
                <app-ranking
                    [todayReports]="todayReports"
                    [todayDate]="currentDate | cast"
                ></app-ranking>
            </ng-template>
        </div>
        <div class="text-center flex flex-col justify-center bg-gray-800 rounded-lg">
            <div *ngIf="loadedGlobalReports && loadedDate(); then currentStats else loadingBlock"></div>
            <ng-template #currentStats>
                <app-current-stats
                    [globalData]="globalReports"
                    [date]="currentDate | cast"
                ></app-current-stats>
            </ng-template>
        </div>
        <div class="text-center flex flex-col bg-gray-800 rounded-lg">
            <div class="justify-self-start mt-3 ml-3 h-[10%]">
                <img
                [tippy]="lineGraphTooltip"  
                src="assets/info.png" 
                alt="info" 
                class="ml-2 avatar rounded-full aspect-square h-6 shadow-sm shadow-white flex-grow-0"
                >
            </div>
            <div *ngIf="loadedGlobalReports && loadedDate(); then lineGraphWrapper else loadingBlock"></div>

            
            <ng-template #lineGraphWrapper>
                <ng-container #dialogVCR></ng-container>
                <div class="h-[90%] w-full" (click)="openDialogWithVCR(lineGraphDialog, {
                    data: globalReports
                })">
                    <div class="h-full w-full flex flex-col justify-center">
                        <app-line-graphs
                            [data]="globalReports"
                            [columns]="['positive', 'negative']"
                            [graphName]="'Summary US Situation'"
                        ></app-line-graphs>
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="text-center flex flex-col justify-center bg-gray-800 rounded-lg">
            <div *ngIf="loadedTodayReports; then waffleChartWrapper else loadingBlock"></div>
            <ng-template #waffleChartWrapper>
                <ng-container #dialogVCR></ng-container>
                <div class="h-5/6 w-full self-center" 
                    (click)="openDialogWithVCR(
                        waffleChartDialog, {todayData: todayReports, date: currentDate})"
                >
                    <app-waffle-chart
                    [todayData]="todayReports"
                    [graphName]="'Covid distribution'"
                    [date]="currentDate | cast"
                    ></app-waffle-chart>                    
                </div>
            </ng-template>
        </div>
    </div>
</div>

<ng-template #loadingBlock>
    <app-loading></app-loading>
</ng-template>
