<div class="h-full flex flex-col">
    <div class="flex justify-center">
        <h1 class="text-center mb-5"> General Graphs </h1>
        <img class="h-3" src="assets/tailwind-mark.svg">
    </div>
    <div class="grid grid-cols-2 grid-rows-2 items-stretch w-full gap-5 grow p-5">
        <div class="text-center flex flex-col justify-center bg-gray-800 rounded-lg">
            <p> Graph </p>
        </div>
        <div class="text-center flex flex-col justify-center bg-gray-800 rounded-lg">
            <p> Graph </p>
        </div>
        <div class="text-center flex flex-col justify-center bg-gray-800 rounded-lg">
            <p> Graph </p>
        </div>
        <div class="text-center flex flex-col justify-center bg-gray-800 rounded-lg">
            <p> Graph </p>
        </div>
    </div>
</div>
