<div class="w-full h-full">
    <div *ngIf="updated(); then detailBlock else loadingBlock"></div>
</div>

<ng-template #detailBlock>
    <div class="flex flex-col h-full w-full max-h-full flex-strink">
        <h2 class="text-center"> Details !! </h2>
        <app-details [state]="state | cast" [reports]="this.reports"></app-details>
        <div class="justify-center component-border-box w-full h-full">
            <app-line-graphs [columns]="columns" [graphName]="graphName()" [data]="this.reports" [graphId]="'state-detail'"></app-line-graphs>
        </div>
    </div>
</ng-template>

<ng-template #loadingBlock>
    <app-loading></app-loading>
</ng-template>
