<div class="h-full w-full flex justify-center">
    <div class="h-full w-4/5">
        <div>
            <h1>
                About this project
            </h1>
            <div>
                <b>Description:</b> An interactive data dashboard for visualizing the covid-19 situation in the USA during <br>
                the period of 2020 and 2021 <br>
                The project includes frontend built with Angular + TS and backend built with Django + REST
            </div>
            <br>
            <div class="flex">
                <h5> Solo contributor: </h5>
                &nbsp;
                <p>@Produdez</p>
            </div>
            <div class="flex">
                <p class="font-bold">Dataset source: </p> 
                &nbsp;
                <a class="text-blue-300" href="https://covidtracking.com/data/api">covidtracking.com/data/api</a>
            </div>
        </div>
        <br><hr><br>
        <div>
            <h2> Special thanks to my friends along the way</h2>
            <br>
            <div class="w-3/4 mx-auto">
                <ul class="list-disc grid grid-cols-2">
                    <div>
                        <li>@Bg</li>
                        <li>@Chau</li>
                        <li>@Trau</li>
                        <li>@Doku</li>
                        <li>@Luigi</li>
                        <li>@SoySauce</li>
                    </div>
                    <div>
                        <li>@Sara</li>
                        <li>@Duc</li>
                        <li>@family</li>
                        <li>@kid</li>
                        <li>@cubi</li>
                        <li>@Vy</li>
                    </div>
                </ul>
            </div>
        </div>
        <br><hr><br>
        <div>
            <h4>Disclaimer</h4>
            <div>
                Im not frontend engineer so excuse <br> my errors in UI design and frontend ignorance
            </div>
        </div>
    </div>
</div>
