<div class="flex" >
    <div class="w-1/2"> 
        <div *ngIf="!loadingDateRange; then mapBlock else loadingBlock"></div>
    </div>
    <div class="w-1/2 component-border-box"> 
        <div class="h-full">
            Graph Site
        </div>
    </div>
</div>
<div class="flex justify-center" >
    <div class="component-border-box w-2/3">
        <div *ngIf="stateSelected(); then detailBlock else nothingBlock"></div>
    </div>
</div>

<!-- Templates  -->

<ng-template #detailBlock>
    <app-detailed-page [stateIdentifier]="stateInitials | cast"></app-detailed-page>
</ng-template>

<ng-template #nothingBlock>
    <h4 class="text-center italic mt-5"> Select a state for its details !!!</h4>
</ng-template>

<ng-template #mapBlock>
    <div class="component-border-box">
        <app-date-slider 
            [startDate]="startDate | cast" 
            [sliderRange]="dateRange | cast"
            (selectedEvent)="updateDate($event)"
        ></app-date-slider>
    </div>
    <div class="component-border-box">
        <app-map-page [date]="date | cast"></app-map-page>
    </div>
</ng-template>

<ng-template #loadingBlock>
    <app-loading></app-loading>
</ng-template>

