<div class="flex min-h-full" >
    <div class="w-2/5 ml-5 bg-gray-800 rounded-lg flex flex-col self-stretch mb-5"> 
        <div class="flex-grow" *ngIf="!loadingDateRange; then mapBlockWSlider else loadingBlock"></div>
    </div>
    <div class="w-3/5 ml-5">
        <app-graph-page
            [currentDate]="date | cast"
            [globalReports]="globalReports | cast"
            [todayReports]="todayReports | cast"
            [loadedGlobalReports]="loadedGlobalReports"
            [loadedTodayReports]="loadedTodayReports"
        ></app-graph-page>
    </div>
</div>

<ng-template #nothingBlock>
    <h4 class="text-center italic mt-5"> Select a state for its details !!!</h4>
</ng-template>

<ng-template #mapBlockWSlider>
    <div>
        <div class="mb-3">
            <app-date-slider 
                [startDate]="startDate | cast" 
                [sliderRange]="dateRange | cast"
                (selectedEvent)="updateDate($event)"
            ></app-date-slider>
        </div>
        <div  class="border-b-2 border-green-300 w-5/6 mx-auto"></div>
    </div>
    <div class="mt-3 flex-grow">
        <div *ngIf="loadedTodayReports; then mapBlock else loadingBlock"></div>
    </div>
</ng-template>

<ng-template #loadingBlock>
    <div class="component-border-box h-full">
        <app-loading></app-loading>
    </div>
</ng-template>

<ng-template #mapBlock>
    <app-map-page [date]="date | cast" [reports]="todayReports | cast"></app-map-page>
</ng-template>
