<div class="h-full flex flex-col">
    <div class="flex justify-between my=3">
        <div class="flex items-center">
            <h1 class="w-3/5"> Covid Heatmap</h1>
            <img
                [tippy]="popOverTooltip"  
                src="assets/info.png" 
                alt="info" 
                class="avatar rounded-full aspect-square h-6 shadow-sm shadow-white"
                >
        </div>
        <div class="w-2/5 flex flex-col text-end pr-5">
            <h6 class="truncate"> Current Date: </h6>
            <p class="subtitle">{{formatDate(date)}}</p>
        </div>
    </div>
    <div class="mt-3 grow">
        <div *ngIf="showMap; then map else empty">

        </div>
        <ng-template #map>
            <app-choropleth-map 
                [date]="date" 
                [reports]="reports"
            ></app-choropleth-map>
        </ng-template>

        <ng-template #empty>
            <app-loading></app-loading>
        </ng-template>
    </div>
</div>

<ng-template #popOverTooltip let-hide>
    <h6>Tips!</h6>
    <p>{{mapTooltip}}</p>
</ng-template>
