<div class="relative px-6 py-6 flex justify-between items-center border-b border-gray-300 shadow-white shadow-sm">
    <div class="h-12 w-16 flex flex-row items-center justify-between">
        <img src="assets/finn.jfif" alt="Avatar" class="avatar rounded-full aspect-square">
        <h1 class="ml-3">
            GeoCovid
        </h1>
    </div>
    <ul class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 flex mx-auto items-center w-auto content-between">
        <ng-template ngFor let-path [ngForOf]="routes">
        <div class="w-[0.8px] h-3 bg-white"></div>
        <h4>
            <a class="padding-box" routerLink={{path}} routerLinkActive="active" ariaCurrentWhenActive="page">{{path.slice(1)}}</a>
        </h4>
        </ng-template>
        <div class="w-[0.8px] h-3 bg-white"></div>
    </ul>
    <button class="p-2 rounded-md" (click)="openGithub()"> About Me </button>
</div>
