<div class="relative px-6 py-6 flex justify-between items-center">
    <div class="h-12 w-16 flex flex-row items-center justify-between">
        <img  src="assets/tailwind-mark.svg">
        <a class="ml-3 text-lg" routerLink='/' routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    </div>
    <ul class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 flex mx-auto items-center w-auto content-between">
        <ng-template ngFor let-path [ngForOf]="routes">
        <div class="w-[0.8px] h-3 bg-white"></div>
        <a class="padding-box" routerLink={{path}} routerLinkActive="active" ariaCurrentWhenActive="page">{{path.slice(1)}}</a>
        </ng-template>
        <div class="w-[0.8px] h-3 bg-white"></div>
    </ul>
    <button class="p-2 text-amber-200 border-gray-100 border-[2px] rounded-md"> About Me </button>
</div>
