/* You can add global styles to this file, and also import other style files */
@tailwind base
@tailwind components
@tailwind utilities

// Overriding style for components
a 
    @apply underline hover:text-white font-bold

body
    @apply bg-gray-900 text-base text-gray-300

// Custom tailwind classes
@layer components
    .padding-box
        @apply p-5

.box
    border-style: solid
    border-width: 1px
    border-color: red

.display-block
    display: block

.wrap-text
    word-wrap: break-word
