/* You can add global styles to this file, and also import other style files */
@import './tailwind.css'

// Overriding style for components
a 
    @apply underline hover:text-white font-bold

html, body
    @apply bg-gray-900 text-base text-gray-300
    min-height: 100vh
    height: 100vh
    margin: 0 auto
h1,h2,h3,h4,h5,h6
    @apply font-medium leading-tight mt-0 mb-2
h1
    @apply text-5xl
h2
    @apply text-4xl
h3
    @apply text-3xl
h4
    @apply text-2xl
h5
    @apply text-xl
h6
    @apply text-base

.page
    height: 100%

// Custom tailwind classes
@layer components
    .padding-box
        @apply p-5
    .component-border-box
        @apply border border-green-300 block m-1
