<div class="flex flex-col items-center mx-auto px-5 py-3">
    <h2> Timeline</h2>
    <div class="w-full flex flex-row justify-between font-semibold text-sm">
        <p> {{formatDate(startDate)}}</p>
        <p> {{formatDate(endDate)}}</p>
    </div>
    <div class="w-5/6 py-2">
        <input
        name="value-slider" 
        type="range" 
        min="{{startValue}}" max="{{endValue}}"
        [ngModel]="selectedValue" 
        (ngModelChange)="setValue($event)" 
        >
    </div>
    <div class="w-full flex flex-row justify-between">
        <div class="flex flex-col items-center">
            <p>Choosing Date: </p>
            {{ formatDate(selectedDate()) }}
        </div>
        <button (click)="onConfirmButtonClicked()"> Confirm Date </button>
    </div>
</div>
